---
// TEMP     <Layout title="" description="">
// 必要に応じて     noindex=true toppage=true

// グローバルCSSをインポート
import '@styles/reset.scss';
import '@styles/globalBase.scss';
import '@styles/globalDesign.scss';

// <head>のコンポーネントをインポート
import Head from '@layouts/head.astro';

// <header>のコンポーネントをインポート
import Header from '@layouts/header.astro';

//<footer>のコンポーネントをインポート
import Footer from '@layouts/footer.astro';

//インポート場所で値を渡すためのpropsを定義
const { title, description, noindex, toppage } = Astro.props;
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- <head>のコンポーネントを挿入 -->
        <!-- title="値"の値がレイアウト側に渡る -->
        <Head title={title} description={description} noindex={noindex} toppage={toppage} />
    </head>

    <body>
        <!-- <header>のコンポーネントを挿入 -->
        <Header />

        <!-- ここに子要素＝コンテンツが挿入される -->
        <slot />

        <!-- <footer>のコンポーネントを挿入 -->
        <Footer />
    </body></html
>
