@charset "UTF-8";
@use '@styles/variable.scss' as *;

// ***** 全体
html {
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    padding: 0 var(--spacing-2);
    font-family: var(--base-font-family);
    font-size: 62.5%;
    color: var(--primary-text);
    background-color: var(--sub-color);
    text-rendering: optimizespeed;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // ****- PC表示時
    @include min-tab {
        // ***-- 左右の余白をなくす
        padding: 0;
    }
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    font-size: var(--text-base);
    line-height: var(--line-height-base);

    // PC閲覧時のフォントサイズ/行間
    @include min-tab {
        font-size: var(--text-base);
        line-height: var(--line-height-base);
    }

    // 想定サイズ以下の端末時のフォントサイズ
    @media (width <= 320px) {
        font-size: calc((100 / 375) * (14 / (1 + 14 - 14)) * 1);
    }
}

// リンク関連
a {
    color: var(--link-text);
    text-decoration: none;
    transition: var(--base-duration) var(--base-timing);

    &:hover {
        color: var(--hover-text);
        text-decoration: none;
    }

    &:active {
        color: var(--active-text);
    }

    &:focus {
        outline: var(--focus-outline);
        outline-offset: var(--focus-outline-offset);
    }
}

// ***** リスト
ul {
    list-style-position: inside;
}

// ***** 画像設定
img,
picture {
    vertical-align: middle;
}

// ***** 禁則処理の指定
p,
li,
dt,
dd,
th,
td,
pre {
    word-break: normal;
    word-wrap: break-word;
    -ms-line-break: strict;
    line-break: strict;
}

// ***** コードレイアウト
code,
kbd,
pre,
samp {
    font-family:
        'Helvetica Neue',
        Arial,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
}

code {
    padding: 6px;
    font-size: 90%;
    color: #000;
    background-color: #efefef;
    border: solid 1px #ddd;
    border-radius: 3px;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none;
}

// 印刷時設定
@media print {
    header,
    footer {
        display: none;
    }
}
